
@media (max-width: 1280px){
body{
	font-size: 11pt;
	font-weight: 300;
}	
.title{
	.title-ul{
		li{
			display: inline-table;
		}
	}
}
.content{
	.content-add{
		width: 59em !important;
	}
}
.beta{
	.beta-child{
		#beta-title{
			font-weight: 300;
		}
	}
}
}

@media (max-width: 991px){
.title{
	.alpha{
		margin-left: 0px;
		margin-right: 0px;
	}
}
.content{
	.content-add{
		width: 51em !important;
	}
	.content2{
		.table{
			.line1{
				height: 302px;
				padding-top: 44px;
				#td1{
					width: 50%;
				}
				#td2{
					width: 50%;
					transform: translate(100%,-100%);
				}
			}
			.line2{
				height: 395px;
				padding-top: 44px;
				#td3{
					width: 50%;
				}
				#td4{
					width: 50%;
					transform: translate(100%,-104%);
				}
			}
		}
	}
	.content3{
		height: 35em;
		margin-bottom: 0px !important;
		.content3-left{
			width: 50%;
		}
		.content3-right{
			width: 50%;
			transform: translate(100%,-100%);
		}
	}
}

}

@media (max-width: 840px){
.content{
	.content-add{
		width: 92% !important;
		.content3{
			height: 83em;
			.content3-left{
				width: 100%;
				padding-right: 0px !important;
			}
			.content3-right{
				width: 100%;
				transform: translate(0%,0%);
				padding-left: 0px !important;
				margin-top: 30px;
			}
			.content3-child{
				p:first-child{
					margin-top: 40px;
				}
				br{
					display: none;
				}
				p:last-child{
					margin-top: 0px;
				}
			}
		}
	}
}
}

@media (max-width: 740px){
	.content2{
		.table{
			height: 67em;
			br{
				display: none;
			}
			#td1,#td2,#td3{
				padding-bottom: 30px !important;
			}
			.table-title{
				font-size: 1.3em !important;
			}
			.table-content{
				font-size: 0.95em !important;
			}
			.line1{
				height: auto !important;
				#td1{
					width: 100% !important;
					border-right: 0px !important;
					padding-right: 0px !important;
					p:first-child{
						margin-left: 50%;
						transform: translate(-50%,0%);
					}
				}
				#td2{
					width: 100% !important;
					transform: translate(0%,0%) !important;
					padding-top: 44px !important;
					padding-left: 0px !important;
					p:first-child{
						margin-left: 50%;
						transform: translate(-50%,0%);
					}
				}
			}
			.line2{
				height: auto;
				#td3{
					width: 100% !important;
					border-right: 0px !important;
					border-bottom: 2px solid #e5e5e5;
					padding-right: 0px !important;
					padding-top: 0px !important;
					p:first-child{
						margin-left: 50%;
						transform: translate(-50%,0%);
					}
				}
				#td4{
					width: 100% !important;
					transform: translate(0%,0%) !important;
					padding-top: 44px !important;
					padding-left: 0px !important;
					p:first-child{
						margin-left: 50%;
						transform: translate(-50%,0%);
					}
				}
			}
		}
	}
}
// @media only screen and (max-width: 375px){
//     /*phần title*/
//     .banner-header{
//     	height: 500px !important;
//     	background-size: cover;
//     	background-position: center center;
//     }
//     .content-add{
//     	padding-left: 0px !important;
//     	padding-right: 0px !important;
//     	.content1{
//     		position: relative;
//     		margin-left: 0px !important;
//     		height: 498px !important;
//     		box-shadow: 0px 0px 0px !important;
//     		.content1-header{
//     			padding-left: 10px !important;
//     			padding-right: 10px !important;
//     			position: absolute;
//     			width: 100%;
//     			margin-bottom: 0px;
//     			margin-top: -40px;
//     			#introduce{
//     				font-size: 1.75em !important;
//     				br{
//     					display: none;
//     				}
//     			}
//     		}
//     		#imag-introduce img{
//     			margin-top: 300px !important;
//     			height: 150px !important;
//     			border-radius: 0px 0px 0px 0px !important;
//     			margin-bottom: 35px;
//     			padding-bottom: 30px;
//     		}
//     	}
//     	.content2{
//     		border-radius: 0px !important;
//     		margin-left: 0px !important;
//     		br{
//     			display: none;
//     		}
//     		.table-title{
//     			font-size: 1.5em !important;
//     			margin-top: 25px !important;

//     		}
//     		.line1{
//     			#td1{
//     				padding: 35px 0px !important;
//     				border-right: 0px !important;
//     				#icon-title1{
//     					margin-left: 50%;
//     					transform: translate(-50%,0%);
//     				}
//     			}
//     			#td2{
//     				padding: 35px 0px !important;
//     				#icon-title2{
//     				margin-left: 50%;
//     				transform: translate(-50%,0%);		
//     				}
//     			}
//     		}
//     		.line2{
//     			#td3{
//     				padding: 35px 0px !important;
//     				border-right: 0px !important;
//     				#icon-title3{
//     					margin-left: 50%;
//     					transform: translate(-50%,0%);
//     				}
//     				border-bottom: 2px solid #e5e5e5;
//     			}
//     			#td4{
//     				padding: 35px 0px !important;
//     				#icon-title4{
//     				margin-left: 50%;
//     				transform: translate(-50%,0%);		
//     				}
//     			}
//     		}
//     	}
//     	.content3{
//     		margin: 0px !important;
//     		br{
//     			display: none;
//     		}
//     		.content3-child{
//     			padding-left: 15px !important;
//     			padding-right: 15px !important;
//     			button{
//     				margin: 0px !important;
//     				width: 100%;
//     				padding-bottom: 5px !important;
//     				padding-top: 5px !important;
//     				line-height: 22px;
//     			}
//     		}
//     		img{
//     			border-radius: 0px 0px !important;
//     		}
//     		.content3-left{
//     			padding: 0px !important;
//     			margin-bottom: 10px;
//     			.content3-left-child{
//     				border-radius: 0px 0px 0px 0px !important;
//     			}
//     		}
//     		.content3-right{
//     			padding: 0px !important;
//     			.content3-right-child{
//     				border-radius: 0px 0px 0px 0px !important;
//     			}
//     		}
//     		.table-title1{
//     			font-size: 1.5em !important;
//     			margin-top: 40px;
//     		}
//     		.table-content1{
//     			font-size: 11pt !important;
//     			margin-bottom: 30px;
//     		}
//     	}   	
//     }
//     .beta{
//     	.beta-child{
//     		margin-top: 45px !important;
//     		padding-left: 30px;
//     		padding-right: 15px;
//     		br{
//     			display: none;
//     		}
//     		.form-button{
//     			padding-top: 9px !important;
//     			padding-bottom: 9px !important;
//     			width: 100%;
//     		}
//     		.form-email{
//     			padding-top: 20px !important;
//     			padding-bottom: 20px !important;
//     		}
//     	}
//     	#beta-title{
//     		font-size: 1.75em !important;
//     		font-weight: 100;
//     	}
//     }
//     .footer{
//     	padding-right: 45px;
//     	ul{
//     		padding-left: 0px;
//     		min-width: 375px;
//     	}
//     }
//     .title{
//     	margin-top: 0px !important;
//     	color: red;
//     	.title-ul{
//     		padding-left: 10px !important;
//     		padding-right: 10px;
//     		min-height: 190px;
//     		position: relative;
//     		margin-top: 20px;
//     		li{
// 				position: absolute;
// 				width: 100%;
// 				padding: 0px !important;
// 				padding-right: 30px !important;
// 				padding-left: 10px !important;
// 				button{
// 					width: 100%;
// 				}
//     		}
//     		.sign{
//     			margin-top: 20px !important;
//     			margin-left: 50% !important;
//     			transform: translate(-50%,-50%);
//     			width: 100%;

//     		}
//     		.learn{
//     			margin-top: 70px !important;
//     			margin-left: 50% !important;
//     			transform: translate(-50%,-50%);
//     			width: 100%;
// 			}

//     	}
//     }
//     	.btn-info{
//     		border-color: #fff;
//     	}
//     .button2 {
//     	padding-top: 0px;

//     	#learn-btn{
//       		margin-left: 0px !important;
//       		margin-top: 20px;
//       		box-sizing: border-box;
//       		height: 3em !important;
//   		}
//   		#sign-btn{
//   			margin-left: 0px !important;
//   			box-sizing: border-box;
//   			height: 3em !important;
//   		}
//     }
//     h1{
//     	font-size: 2em !important;
//     	font-weight: 100;
//     }
//     .navbar-toggle .icon-bar {
//     	width: 30px;
//     }
//     .alpha p{
//     	margin-top: 10px !important;
//     }
// }
%icon-title{
	height: 80px;
	width: 80px;
	line-height: 80px;
	margin-left: 40%;
	font-size: 40px;
}
.header-background{
	background: #444;
}
body{
	font-family: "Source Sans Pro";
	font-size: 11pt;
    font-weight: 300;
}

#header{
	#header-button{
		float: left;
		margin-left: 10px;
		background: rgba(192, 192, 192, 0.75);
	}
	.navbar{
		margin-bottom: 0px;
	}
	.dropdown{
		display: block;
	}
}
.header1{
}
@keyframes header{
	0%{
		top: -3em;

	}
	100%{
		top: 0em;
	}
}

  @media (max-width: 360px) {
  	font-size: 50px;
  	
  }
.header2{
	animation: header 0.5s;
	position: fixed;
	width: 100%;
	background: #444;
    color: #bbb;
    z-index: 100;
}
.banner-header{
		background-image: url("https://html5up.net/uploads/demos/alpha/images/banner.jpg");
		background-attachment: fixed;
		height: 700px;
	    background-position: center top;
	    color: #fff;
	    #alpha{
	    	color: #fff;
	    	font-size: 1.1em;
	    }
	    #html5{
	    	color: rgba(255, 255, 255, 0.75);
	    	font-size: 1.1em;
	    	margin-left: -24px;
	    }
	    #home{
			color: #fff;
			font-size: 1.1em;
	    }
	    #layout{
	    	color: #fff;
	    	font-size: 1.1em;
	    }
	    #home,#layout:hover{
	    	background: transparent;
	    }

	    #layout:before{
	    	font-family: "FontAwesome";
	    	content: /f107;
	    	color: black;

	    }
		#sign{
			background-color: transparent;
			border: 2px solid #fff;
			margin: 5px 10px;
			transition: background-color 0.2s;
			font-size: 1.1em;
		}
		#sign:hover{
			background: rgba(255, 255, 255, 0.1);
			color: #fff;
		}
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	// position: absolute;
	.title{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 140px;
		#banner{
			text-align: center;

			h1{
				color: #fff;
				font-size: 3.5em;
				font-weight: 300;
		
			}
			p{
				margin-top: 20px;
				margin-bottom: 38px;
				font-size: 1.25em;
				color: #fff;
			}
			
		}
		.title-ul{
			list-style-type: none;
			text-align: center;
			padding: 0px;
			margin: 0px;
			.sign,.learn{
				// list-style-type: none;
			}
			li{
				display: inline-table;
			}
		}
		.button2{
				// padding-top: 50px;
				// margin-top: 10px;
				#sign-btn{
					background: #fff;
					color: #666;
					height: 4em;
					padding-left: 6em;
					padding-right: 6em;
					// margin-left: -18px;
				}
				#learn-btn{
					background: transparent;
					height: 3em;
					height: 4em;
					padding-left: 5em;
					padding-right: 5em;
					border: 2px solid #fff;
					margin-left: 20px;
				}
				#learn-btn:hover{
					background: rgba(255, 255, 255, 0.1);
					transition: background-color 0.2s;
				}
			}
	}
	.content{
		position: relative;
		background: #f0f0f0;
		margin-left: 0px;
		margin-right: 0px;
		#icon-title1,#icon-title2,#icon-title3,#icon-title4{
			border-radius: 100%;
			text-align: center;
		}
		.content-add{
			margin-left: auto;
			margin-right: auto;
			background: #f0f0f0;
			margin-top: -150px;
			font-size: 12pt;
			width: 65em;
			border-radius: 6px;
		}
		#icon-title1{
			@extend  %icon-title;
			background: #e89980;


		}
		#icon-title2{
			@extend  %icon-title;
			background: #7fcdb8;
		}
		
		#icon-title3{
			@extend  %icon-title;
		    background: #90b0ba;
		}
		#icon-title4{
			@extend  %icon-title;
		    background: #e5cb95;
		}
		#icon-title1:before{
			font-family: "FontAwesome";
			content: "\f0e7";
			color: #ffffff;
		}		
		#icon-title2:before{
			font-family: "FontAwesome";
			content:  "\f1fe";
			color: #ffffff;
		
			
		}
		#icon-title3:before{
			font-family: "FontAwesome";
			content: "\f0c2";
			color: #ffffff;
		}
		#icon-title4:before{
			font-family: "FontAwesome";
			content: "\f023";
			color: #ffffff;
		}
		.content1{
			border-radius: 6px;
			height: 735px;
			padding-top: 80px;
			padding-bottom: 0px;
			background: #fff;
			padding-left: 0px;
			padding-right: 0px;
			text-align: center;	
			box-shadow: 0px 2px 0px #e5e5e5;		
			.content1-header{
				padding-left: 44px;
				padding-right: 44px;
			}

			#imag-introduce{
				img{
					border-radius: 0px 0px 6px 6px;
					height: 350px;
					width: 100%;
					margin-top: 40px;
				}
			}			
			#introduce{
				font-size: 2em;
				padding-bottom: 40px;
			}
			#info-introduce{
				border-top: 2px solid #e5e5e5;
				font-size: 1.1em;
				display: inline-block;
				padding-top: 40px;
			}

			}
		.content2{
			width: 100%;
			border-radius: 6px;
			text-align: center;
			background: #fff;
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 40px;
			margin-bottom: 40px;
			box-shadow: 0px 2px 0px #e5e5e5;
			.table-title{
				text-align: center;
				font-size: 1.75em;
				font-weight: 100;
			}
			#td1,#td3{
				padding-left: 0px;
				padding-right: 40px;
			}
			#td1,#td2{
				padding-bottom: 40px;
			}
			#td3,#td4{
				padding-top: 40px;
			}
			#td2,#td4{
				padding-left: 40px;
				padding-right: 0px;
			}
			#td1,#td2{
				border-bottom: 2px solid #e5e5e5;
			}
			#td1,#td3{
				border-right: 2px solid #e5e5e5;
			}
			.line1{
				margin-top: 40px;
				padding-left: 40px;
				padding-right: 40px;
			}
			.line2{
				margin-bottom: 40px;
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		.content3{
			border-radius: 6px;
			margin-bottom: 90px;
			padding-left: 0px;
			padding-right: 0px;
			.content3-child{
				padding-left: 35px;
				padding-right: 35px;
				padding-bottom: 50px;
			}
			.content3-imag img{
				width: 100%;
			}
			.content3-left{
				padding-left: 0px;
				padding-right: 15px;
				.content3-left-child{
					background: #fff;
					border-radius: 6px;
					box-shadow: 0px 2px 0px #e5e5e5;
					img{
						border-radius: 6px 6px 0px 0px ;
					}
				}
			}
			.table-title1{
				text-align: center;
				font-size: 1.75em;
				font-weight: 100;
			}
			.table-content1{
				text-align: center;
			}
			.content3-right{
				padding-left: 15px;
				padding-right: 0px;
				.content3-right-child{
					background: #fff;
					border-radius: 6px;
					box-shadow: 0px 2px 0px #e5e5e5;
					img{
						border-radius: 6px 6px 0px 0px;
					}
				}
			}
			.content3-button{
				margin-top: 20px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 2.2em;
				padding-right: 2.2em;
				font-size: 12pt;
				background: #fff;	
				color: #777;
				border: 2px solid #e5e5e5;	
				margin-left: 50%;
				transform: translate(-50%,0);
			}
		}
	}


}
.beta{
	text-align: center;
	background: #e89980;
	height: 340px;
	margin-right: 0px;
	margin-left: 0px;
	#beta-title{
		font-size: 2.25em;
		color: #f9e5df;
		font-weight: 300;
	}
	#beta-content{
	    color: #f9e5df;
	}
	.beta-child{
		font-size: 12pt;
		margin-top: 60px;
		.form-inline{
			margin-top: 40px;
		}
		.form-button{
	    	background: #fff;	
	    	color: #e89980;

		}
		.form-email{
			color: #ffffff;
		    background: rgba(255, 255, 255, 0.15);
		    font-size: 12pt;
		    padding-top: 25px;
		    padding-bottom: 25px;
		    padding-right: 80px;
		    margin-right: 20px;
		}
		.form-button{
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 2.2em;
			padding-right: 2.2em;
			font-size: 12pt;
		}

	}
}
.footer{
	padding-top: 5px;
	font-family: "FontAwesome";
	background: #f0f0f0;
	height: 250px;
	.icons{
		margin-top: 70px;
		list-style: none;
		text-align: center;
		li{
			display: inline-table;
			margin-left: 20px;
			font-size: 2em;
			a{
				color: #999;
				opacity: 0.5;
			}
			a:hover{
				opacity: 0.9;
				text-decoration: none;
			}
			
		}
	}
	.cright{
		list-style: none;
		text-align: center;
		margin-top: 20px;
		li{
			display: inline-table;
			margin-left: 20px;
			color:  #999;
		}
		.cright-li{
			border-left: solid 1px #dddddd;
			padding-left: 20px;
			font-size: 0.9em;
			a{
				color: #999;
			    border-bottom: dotted 1px;
			}
			a:hover{
				text-decoration: none;
				border-bottom: none;
			}
		}

	}
}



